{% extends 'base.html' %}

{% block content %}
<div class="main">
    <div class="wrapper">
        <div class="box1">
            <h4>CONTACT</h4>
            <ul>
                <li><h5>Email: </h5>AAAAAAAAAAAAAAAAA</li>
                <li><h5>Phone: </h5>AAAAAAAAAAAAAAAAA</li>
                <li><h5>LinkedIn: </h5>AAAAAAAAAAAAAAAAA</li>
                <li><h5>Other Site: </h5>AAAAAAAAAAAAAAAAA</li>
            </ul>
        </div>
        <div class="box2">
            <div></div>
            <h1>FirstName LastName</h1>
            <div></div>
        </div>
        <div class="box3">
            <div class="box3-1">
                <img src="{{url_for('static', filename='Images/profile.jpg')}}" class="card-img-top" alt="...">
            </div>
            <div class="box3-2">
                <h4>OBJECTIVE</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, officiis maxime laudantium, corporis aperiam, animi id unde quo culpa explicabo numquam ullam omnis! Dolor eius officiis quaerat perferendis illo id quos ullam velit iusto tempora. Deleniti in consequatur cupiditate temporibus iusto hic corrupti sequi aliquam laboriosam, nam dolorem id fugit.</p>
            </div>
            <div class="box3-3">
                <h4>EDUCATION</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor optio itaque officia facilis eum dolorem sint, adipisci, ad quasi beatae ullam obcaecati odio minus neque et deserunt voluptate amet molestiae sequi recusandae labore, maiores facere! Placeat atque sit nam deserunt dignissimos officia sequi quis, est itaque ullam explicabo, molestiae accusamus!</p>
            </div>
        </div>
        <div class="box4">
            <div class="box4-1">
                <h4>TECHNICAL/ NON-TECHNICAL SKILLS</h4>
                <div>
                    <ul>
                        <li>Python</li>
                        <li>Python</li>
                        <li>Python</li>
                        <li>Python</li>
                        <li>Python</li>
                        <li>Python</li>
                        <li>Python</li>
                        <li>Python</li>
                        <li>Python</li>
                        <li>Python</li>
                        <li>Python</li>
                        <li>Python</li>
                    </ul>
                </div>
            </div>
            <div class="box4-2">
                <h4>RELEVANT COURSES</h4>
                <div>
                    <ul>
                        <li>Course one</li>
                        <li>Course one</li>
                        <li>Course one</li>
                        <li>Course one</li>
    
                    </ul>
                </div>
            </div>
            <div class="box4-3">
                <h4>AWARDS</h4>
                <div>
                    <ul>
                        <li>Course one Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, culpa.</li>
                    </ul>
                </div>
            </div>


        </div>
        <div class="box5">
            <div class="box5-1">
                <h4>RELEVANT EXPERIENCE</h4>
                <h5>Experiance 1 (00/22/2222)</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptates aut similique accusamus excepturi veniam pariatur ipsa tempore. Veritatis quae perferendis ut eius recusandae a inventore neque illo velit fuga.</p>    
            </div>

            <div class="box5-2">
                <h4>PROJECTS/RESEARCH</h4>
                <h5>Project 1 (00/22/2222)</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint laborum quia quasi iste omnis ratione assumenda nostrum quos itaque ex eius aliquid saepe soluta est, quod repudiandae aspernatur a? Vero?</p>             
                <h5>Project 2 (00/22/2222)</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint laborum quia quasi iste omnis ratione assumenda nostrum quos itaque ex eius aliquid saepe soluta est, quod repudiandae aspernatur a? Vero?</p>            
                <h5>Project 3 (00/22/2222)</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint laborum quia quasi iste omnis ratione assumenda nostrum quos itaque ex eius aliquid saepe soluta est, quod repudiandae aspernatur a? Vero?</p>
                <h5>Project 4 (00/22/2222)</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint laborum quia quasi iste omnis ratione assumenda nostrum quos itaque ex eius aliquid saepe soluta est, quod repudiandae aspernatur a? Vero?</p>                    
            </div>

            <div class="box5-3">
                <h4>LEADERSHIPS/ORGANIZATIONS</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore perferendis doloribus quo incidunt! Fuga esse corporis, expedita nostrum ex saepe! Lorem ipsum dolor sit amet. lore </p>                
            </div>
        </div>
    </div>
</div>
{% endblock %}
